* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 1em;
    max-width: 600px;
}
h1 {    
    font-size: 200%;
    color: navy;
    padding-bottom: .3em;
}
h2 {
    font-size: 160%;
    padding-bottom: 0.3em;
}
img  {
    float: right;
    padding-left: 1em;
}
p {
    padding-bottom: .5em;
}